

body {
  /* المطلوب الأول هنا */ 
  background-image: url(./img/KuwaitCodesWallpaper.png);
  text-align: center;
  background-size: cover;

    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    

}

/* المطلوب الثاني هنا */
nav {
  display: flex;
  justify-content: center;
  background-color: rgba(248, 248, 248, 0.377);
  border-radius: 20px;
  
}
.nav-elements {
  display: flex;
  justify-content: space-between;
  width: 120px;

}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 5px 10px;
  border-radius: 12px;
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 5px 5px;
  border-radius: 50%;
}




.hobbies {
  /* المطلوب السادس هنا */
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}



.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

